/*
   MIN HEIGHTS
*/

.mn-hi1   { min-height: 1rem; }
.mn-hi2   { min-height: 2rem; }
.mn-hi3   { min-height: 4rem; }
.mn-hi4   { min-height: 8rem; }
.mn-hi5   { min-height: 16rem; }
.mn-hi6   { min-height: 32rem; }
.mn-hi7   { min-height: 48rem; }
.mn-hi8   { min-height: 64rem; }
.mn-hi9   { min-height: 96rem; }
.mn-hi10  { min-height: 128rem; }

@media screen and (min-width: 32em) {
  .mn-hi1-s   { min-height: 1rem; }
  .mn-hi2-s   { min-height: 2rem; }
  .mn-hi3-s   { min-height: 4rem; }
  .mn-hi4-s   { min-height: 8rem; }
  .mn-hi5-s   { min-height: 16rem; }
  .mn-hi6-s   { min-height: 32rem; }
  .mn-hi7-s   { min-height: 48rem; }
  .mn-hi8-s   { min-height: 64rem; }
  .mn-hi9-s   { min-height: 96rem; }
  .mn-hi10-s  { min-height: 128rem; }
}

@media screen and (min-width:48em) {
  .mn-hi1-m   { min-height: 1rem; }
  .mn-hi2-m   { min-height: 2rem; }
  .mn-hi3-m   { min-height: 4rem; }
  .mn-hi4-m   { min-height: 8rem; }
  .mn-hi5-m   { min-height: 16rem; }
  .mn-hi6-m   { min-height: 32rem; }
  .mn-hi7-m   { min-height: 48rem; }
  .mn-hi8-m   { min-height: 64rem; }
  .mn-hi9-m   { min-height: 96rem; }
  .mn-hi10-m  { min-height: 128rem; }

}

@media screen and (min-width: 96em) {
  .mn-hi1-l   { min-height: 1rem; }
  .mn-hi2-l   { min-height: 2rem; }
  .mn-hi3-l   { min-height: 4rem; }
  .mn-hi4-l   { min-height: 8rem; }
  .mn-hi5-l   { min-height: 16rem; }
  .mn-hi6-l   { min-height: 32rem; }
  .mn-hi7-l   { min-height: 48rem; }
  .mn-hi8-l   { min-height: 64rem; }
  .mn-hi9-l   { min-height: 96rem; }
  .mn-hi10-l  { min-height: 128rem; }
}

